In [ ]:
x=int(input("Enter a number: "))

if x>0 :
  print("Number is positive")
elif x<0 :
  print("Number is negative")
else :
  print("Number is zero")

Enter a number: 20
Number is positive

### A dictionary key must be an immutable data type like numbers, strings and tuples.

### Values can be a list, a dictionary, a set, a tuple or general data types

In [ ]:
x={'buy':[12,34,45], 'collection':{"sunny","raj",None,False}, 'bill':(23,56,78), 'Hist':{'A':34, 'B':56, 'C':23}}
x

{'Hist': {'A': 34, 'B': 56, 'C': 23},
 'bill': (23, 56, 78),
 'buy': [12, 34, 45],
 'collection': {False, None, 'raj', 'sunny'}}

In [ ]:
#Python is a case sensitive language

Name = 'Sunny'
name = 'Raj'

f'{Name}'

'Sunny'

In [ ]:
x = [1,2]
x.append(3)
print(x)

[1, 2, 3]

In [ ]:
x = [29,17,19]
x.append(45)
x

[29, 17, 19, 45]

In [ ]:
# Doubt
#Solution : Self referencing list

x=[1]
x.append(x)
x

[1, [...]]

In [ ]:
x=[23,34,21]
y=[1,2,3]
x.append(y)
x

[23, 34, 21, [1, 2, 3]]

In [ ]:
x=[23,34,21]
y=[1,2,3]
x.extend(y)
x

[23, 34, 21, 1, 2, 3]

In [ ]:
x=[23,43,12,67]
x.reverse()
x

[67, 12, 43, 23]

In [ ]:
x=[23,43,12,67]
x.sort()
x

[12, 23, 43, 67]

In [ ]:
x=[23,43,12,67]
y=min(x)
y

12

In [ ]:
x=[23,43,12,67]
max(x)

67

In [ ]:
x=[23,43,12,67]
y=x[1:3]
y

[43, 12]

In [ ]:
x=[23,43,12,67]
len(x)

4

In [ ]:
#Doubt
#Solution: 'is' operator checks for whether two values are in the same 
#          memory location

x=[23,43,12,67]
y=[23,43,12,67]
x is y

False

In [ ]:
x=[23,43,12,67]
x.insert(2,100)
x

[23, 43, 100, 12, 67]

In [ ]:
x=(23,43,12,67)
x[3]=90
x

TypeError: ignored

In [ ]:
x=(23,43,12,67)
y=list(x)
y[3]=100
y

[23, 43, 12, 100]


###*   Lists, Dictionary, Sets are mutable
###*   Tuples, Strings are immutable

In [ ]:
#Doubt
x = {"sunny",28,59,"awk",[2,5,54]}
x.add(654)
x

TypeError: ignored

###A set cannot have mutable elements like a list or dictionary.

###A set itself is mutable but elements inside are not thats why a set cannot 
###have mutable elements list or dictionary.

In [ ]:
x=([1,2,3],"Sunny","god",45.5,100)
x[0][1]=466
x

([1, 466, 3], 'Sunny', 'god', 45.5, 100)

In [ ]:
x=("sunny","raj",23,879,{'buscuit':34, 'cake':3, 'Drinks':20})
x[4]['buscuit']=100
x

('sunny', 'raj', 23, 879, {'Drinks': 20, 'buscuit': 100, 'cake': 3})

###A tuple is itself immutable hence elements inside it cannot added, 
###removed and updated. But elements itself need not be immutable. A tuple 
###can contain mutable elements like lists, dictionary or sets.

In [ ]:
x=("Sunny","Raj",{"Sunny",34,True,None})
x[2].add(999)
x

('Sunny', 'Raj', {34, 999, None, 'Sunny', True})

###Lists,Tuples are ordered means we can random access them using indexing.
###Sets,Dictionaries are unordered, we cannot random access them.

In [ ]:
x=[(1,2,3),{'buscuit':34, 'cake':3, 'Drinks':20},{"Sunny",34,True,None},[43,56,12],"Sunny","god"]
x[1]['cake']=5
x[3][1]=x[3][2]+x[3][0]
print('\n',x[0][2],'\n')
print("The list is:\n\n",x)

 3

The list is:

 [(1, 2, 3), {'buscuit': 34, 'cake': 5, 'Drinks': 20}, {True, 'Sunny', None, 34}, [43, 55, 12], 'Sunny', 'god']

###Lists are the most flexible among the various python data structures. We can 
### have lists inside list, dictionaries inside list, tuples inside list, sets
###inside lists and any other data types. We can random access them and then 
###apply properties particular to sets, dictionaries, tuples or strings, etc.

In [ ]:
#Assignment 1

while (True):
  try:
    x=int(input("Enter the marks of student: "))
    if(not(x>=0 and x<=100)):
      print("\nPlease enter a number between 0 and 100(both inclusive)\n")
    if (x>80 and x<=100):
      print("\nGrade acquired is: A")
      break
    elif (x>60 and x<=80):
      print("\nGrade acquired is: B")
      break
    elif (x>50 and x<=60):
      print("\nGrade acquired is: C")
      break
    elif (x>45 and x<=50):
      print("\nGrade acquired is: D")
      break
    elif (x>25 and x<=45):
     print("\nGrade acquired is: E")
     break
    elif (x>=0 and x<=25) :
      print("\nGrade acquired is: F")
      break
  except:
    print("\nPlease enter a valid input!\n")

Enter the marks of student: 89

Grade acquired is: A

In [ ]:
#Assignment 2

print("Even numbers between 50 and 100(both inclusive):\n")

x=50
while(x<=100):
  print(x,end=" ")
  x+=2

Even numbers between 50 and 100(both inclusive):

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#Assignment 3

while (True):
  try:
    x=int(input("Enter a number: "))
    if (x%2==0) :
      print("\nNumber is even!")
      break
    else:
      print("\nNumber is odd!")
      break
  except:
    print("\nPlease enter a valid input!\n")

Enter a number: l

Please enter a valid input!

Enter a number: ty

Please enter a valid input!

Enter a number: 56

Number is even!

In [ ]:
#Assignment 4

x=list()

z=0
while(z<10):
  x.append(int(input("Enter a number: ")))
  z+=1

x

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#input().split()
x=list() #x=[]

x.extend(input("Enter items with sapces between them: ").split())

x

Enter items with sapces between them: Sunny Kumar

['Sunny', 'Kumar']

In [ ]:
#a basic python function

def add(a,b):
  return a+b

print(add(2,3))

5

In [18]:
#Class activity

x=int(input("Enter the minimum limit: "))
y=int(input("Enter the maximum limit: "))

if (x%2 == 0):
  while(x<y):
    print(x+1,end=" ")
    x+=2
else :
  while(x<=y):
    print(x,end=" ")
    x+=2

Enter the minimum limit: 56
Enter the maximum limit: 86
57 59 61 63 65 67 69 71 73 75 77 79 81 83 85

In [13]:
x=int(input("Enter the minimum limit: "))
y=int(input("Enter the maximum limit: "))

while(x<=y):
  if (x%2 == 0):
    print(x+1,end=" ")
    x+=2
  else :
    print(x,end=" ")
    x+=2

Enter the minimum limit: 50
Enter the maximum limit: 100
51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101